* {
  outline: 1px solid red;
  padding: 0;
  margin: 0;
  font-family: Raleway, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', serif !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


p, a {
  margin: 0;
  text-decoration: none !important;
}

/*@media (max-width: 1200px) {*/
/*  * {*/
/*    font-size: 0.8rem;*/
/*  }*/
/*}*/

/*@media (max-width: 800px) {*/
/*  * {*/
/*    font-size: 0.5rem;*/
/*  }*/
/*}*/
